---
layout: page_layout
title: Categories
---
<section class="section">
<div class="container">
<header>




<div class="field is-grouped is-grouped-multiline">
  {% for category  in site.categories %}
    <div class="control">
    <div class="tags are-medium  has-addons">
      
      <span class="epr-tag ">
        <a class="epr-link--no-decoration" href="#{{category[0] }}"> {{ category[0] | capitalize}}</a>
      </span>

      <span class="epr-tag ">
        <span class="has-text-grey">{{ category[1].size }}</span>
      </span>
    </div>
    </div>
  {% endfor %}
</div>




</header>
<hr>










{% for category  in site.categories %}
    <div class="epr-category">
    
        <div class="epr-category__title"> 
            <a name="{{ category[0]}}"></a> <h2 class="is-size-2-tablet">{{category[0] | capitalize}} <sup class="is-size-6">({{category[1].size}})</sup></h2>
        </div>
        <div class="epr-category__body">
            <ul>
                {% for post  in category[1] %}
                    <li>
                      <a class="epr-link is-size-4" href="{{ post.url }}">{{ post.title }}</a> - <span class="is-size-6">{{post.date | date_to_string}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>

{% endfor %}






















</div>
</section>
