---
layout: page_layout
title: Home
---
{% for post in site.posts %}
<section class="section">
        <div class="container">
            <div class="-epr-post">
                <div class="epr-post__title">
                    <h1 class="title"><a href="{{post.url}}" class="epr-link">{{post.title}}</a></h1>            
                </div>
                <div class="-epr-post__excerpt">
                    <p>{{post.excerpt}}</p>
                </div>  

                <div class="-epr-post__footer">
                  {{ post.date | date_to_string }} - {{ post.author }}
                  <div class="tags are-medium">
                {% for category in post.categories %}
                <span class="tag">{{ category }}</span>
                {% endfor %}
                </div>
                </div>                  
            </div>
        </div>
    </section>
{% endfor %}




<!-- {% for post in site.posts %}
    <section class="section">
        <div class="container">
            <div class="epr_post">
                <div class="epr-post__title">
                    <h1 class="title"><a href="{{post.url}}" class="epr-link">{{post.title}}</a></h1>            
                </div>
                <div class="epr-post__excerpt">
                    <p>{{post.excerpt}}</p>
                </div>  

                <div class="epr-post__footer">

                    <div class="columns">
                        <div class="column">
                            {{ post.date | date_to_string }} - {{ post.author }}
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <div class="tags are-medium">
                                {% for category in post.categories %}
                                    <span class="tag">{{ category }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>                  
            </div>
            
                
        </div>
    </section>
{% endfor %}         -->
