<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400&display=swap" rel="stylesheet">  -->
    <link href="https://fonts.googleapis.com/css?family=Assistant:200|Rokkitt:300&display=swap" rel="stylesheet">
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  
    {% include hero-main.html %} 
    {{ content }}

    <script src="/assets/js/bulma-scripts.js"></script>
  </body>
  </html>