*:not(path):not(g){
    color: rgba(39, 35, 35, 0.9) !important;
    //background: hsla(210, 100%, 50%, 0.5) !important;
    //outline:  solid 0.1rem hsla(210, 100%, 100%, 0.9) !important;
    outline:  solid 0.1rem rgba(149, 145, 145, 0.9) !important;

    box-shadow: none !important;
}